@model IEnumerable<GPCLib.Models.DeckSiegeModels>

@{
    ViewBag.Title = "Deck Player";
    ViewBag.MetaDescription = "Exibe os times que foram usados durante uma Siege. Contém as bases que foram defendidas, Vitórias e Derrotas.";
}

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

@if (Model.Count() > 0)
{
    <h1>Decks - @Model.First().Player.Nome</h1> 
    <h3>Siege - @Model.First().Siege.Data.ToShortDateString()  </h3>
    <div style="float: left;padding-right:5px"><img src="http://www.gpcsw.party/content/images/Icons/first.png" /> @Model.First().Siege.Guilda.First(x => x.Posicao == 1).Guilda.Nome </div>
    <div style="float: left;padding-right:5px"><img src="http://www.gpcsw.party/content/images/Icons/second.png" /> @Model.First().Siege.Guilda.First(x => x.Posicao == 2).Guilda.Nome</div>
    <div><img src="http://www.gpcsw.party/content/images/Icons/third.png" /> @Model.First().Siege.Guilda.First(x => x.Posicao == 3).Guilda.Nome</div>
}
else
{
    <h1>Decks</h1>
    <h3>Siege  </h3>
    <div style="float: left;padding-right:5px"><img src="http://www.gpcsw.party/content/images/Icons/first.png" />  </div>
    <div style="float: left;padding-right:5px"><img src="http://www.gpcsw.party/content/images/Icons/second.png" /> </div>
    <div><img src="http://www.gpcsw.party/content/images/Icons/third.png" /> </div>
}

<p></p>

<script>
    $(document).ready(function () {

        $('#tblDecks').DataTable(
            {
                "paging": true,
                "searching": false,
                "lengthChange": false,
                "language": {
                    search: "Pesquisar:",
                    "lengthMenu": "Exibindo _MENU_ linhas por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoFiltered": "(selecionado _MAX_ registros)",
                    paginate: {
                        first: "Primeira",
                        previous: "Anterior",
                        next: "Próxima",
                        last: "Última"
                    }
                },
                "pageLength": 20
            }

        );

    });


</script>
<p></p>
<h5 class="text-danger"><b>Nota 1:</b> A soma do total de vitórias nesta tela pode ser diferente do consolidado. Se o jogador tinha mais de uma defesa na base, não consigo dizer (ainda) qual foi o time que obteve a Vitória\Derrota.</h5>
<h5 class="text-danger"><b>Nota 2:</b> Como a Siege é um evento dinâmico, as defesas podem não estar todas listadas. Seria necessário ficar atualizando a todo momento para conseguir pegar todas as defesas antes da base ser conquistada. </h5>
<p></p>
<table class="table" id="tblDecks">
    <thead>
        <tr>

            <th>Time</th>
            <th>Bases Defendidas</th>
            <th style="text-align:center">Vitória</th>
            <th style="text-align:center">Derrota</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div id="Time1" style="background-color:#D1CAA1;border-color:black;border:solid;border-width:1px;width:320px">
                        <div id="imagem1" style="float: left; width:100px;height:100px; content:url(http://www.gpcsw.party/content/images/monsters/small/@Html.DisplayFor(m => item.Monstro1.Imagem))" title="@Html.DisplayFor(modelItem => item.Monstro1.Nome)"></div>
                        <div id="imagem2" style="float: left;width:100px;height:100px; content:url(http://www.gpcsw.party/content/images/monsters/small/@Html.DisplayFor(m => item.Monstro2.Imagem))" title="@Html.DisplayFor(modelItem => item.Monstro2.Nome)"></div>
                        <div id="imagem3" style="width:100px;height:100px; content:url(http://www.gpcsw.party/content/images/monsters/small/@Html.DisplayFor(m => item.Monstro3.Imagem))" title="@Html.DisplayFor(modelItem => item.Monstro3.Nome)"></div>
                    </div><p></p>
                </td>
                <td>@Html.DisplayFor(modelItem => item.BasesDefendidas)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.Vitoria)</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.Derrota)</td>

            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("<< Voltar", "ListarSieges")
</div>