@model IEnumerable<GPCLib.Models.SiegeModels>

@{
    ViewBag.Title = "Listar Sieges";
    ViewBag.MetaDescription = "Exibe lista de todas as sieges que foram carregadas no sistema.";
}

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">


<h2>Sieges</h2>
<script>
    $(document).ready(function () {
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "extract-date-pre": function (value) {
                var date = $(value, 'span')[0].innerHTML;
                date = date.split('/');
                return Date.parse(date[1] + '/' + date[0] + '/' + date[2])
            },
            "extract-date-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
            "extract-date-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
        $('#tblListaSiege').DataTable(
            {
                "paging": true,
                "searching": true,
                "lengthChange": false,
                "language": {
                    search: "Pesquisar:",
                    "lengthMenu": "Exibindo _MENU_ linhas por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoFiltered": "(selecionado _MAX_ registros)",
                    paginate: {
                        first: "Primeira",
                        previous: "Anterior",
                        next: "Próxima",
                        last: "Última"
                    }
                },
                "pageLength": 20,
                "order": [[1, "desc"]],
                columnDefs: [{
                    type: 'extract-date',
                    targets: [1]
                }

                ]


            }

        );


        //inicio 2
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "Detalhe Guilda",
                closeText: "",
                buttons: {
                    Fechar: function () {
                        $(this).dialog('close');
                    }
                }
            });
            $("#tblListaSiege").on("click", ".anchorDetails", function (e) {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@(Url.Action("ObterResumo", "Relatorios"))",
                    contentType: "application/JSON;charset=utf-8",
                    data: { "id": id },
                    dataType: "json",
                    success: function (r) {
                        $("#dialog").html
                            (

                                    '<b>' + r.Guilda.Nome + '</b><BR>' +
                                     'GVGs <span style="font-size:smaller">(ataques)</span>: | ' + r.QtdGVGs + ' | ' +
                                               r.VitoriaGvg + 'V | ' +
                                               r.DerrotaGVG + 'D | <br>' +
                                     'Siege: | ' + r.Siege +  ' | ' + r.SiegePosicao1 +  '-1º | ' + r.SiegePosicao2 + '-2º | ' + r.SiegePosicao3 + '-3º |'
                            );
                        $("#dialog").dialog("open");
                    }
                });
            });
        });

        //fim 2

    });


</script>
<style>
    .no-close .ui-dialog-titlebar-close {
        display: none;
    }

    div#pop-up {
        display: none;
        position: absolute;
        width: 280px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
    }
</style>
<!--INICIO YESYE-->
<div id="dialog" style="display: none" title="Detalhes Guilda"></div>
<!--FIM TESTE-->


<table class="table" id="tblListaSiege">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Data
            </th>
            <th><img src="http://www.gpcsw.party/content/images/Icons/first.png" /></th>
            <th><img src="http://www.gpcsw.party/content/images/Icons/second.png" /></th>
            <th><img src="http://www.gpcsw.party/content/images/Icons/third.png" /></th>
            <th></th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <span id="@Html.DisplayFor(modelItem => item.Data)">
                        @Html.DisplayFor(modelItem => item.Data)
                    </span>
                </td>
                <td>
                    @if (item.Guilda.First(x => x.Posicao == 1).Guilda.Id == item.IdGuildaUsuarioLogado)
                    {

                        <b>
                            @Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 1).Guilda.Nome)
                            <span style="font-size:smaller" title="Número de Jogadores">(@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 1).Members))</span>
                        </b>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="anchorDetails" data-id="@item.Guilda.First(x => x.Posicao == 1).Guilda.Id" data-name="Detalhes GVG">
                            @Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 1).Guilda.Nome)
                        </a>
                        <span style="font-size:smaller" title="Número de Jogadores">(@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 1).Members))</span>
                    }

                    <img src="http://www.gpcsw.party/content/images/Icons/@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 1).ImagemRating)" alt="Alternate Text" height="50%" />


                </td>
                <td>
                    @if (item.Guilda.First(x => x.Posicao == 2).Guilda.Id == item.IdGuildaUsuarioLogado)
                    {
                        <b>
                            @Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 2).Guilda.Nome)
                            <span style="font-size:smaller" title="Número de Jogadores">(@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 2).Members))</span>
                        </b>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="anchorDetails" data-id="@item.Guilda.First(x => x.Posicao == 2).Guilda.Id" data-name="Detalhes GVG">
                            @Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 2).Guilda.Nome)
                        </a>
                        <span style="font-size:smaller" title="Número de Jogadores">(@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 2).Members))</span>
                    }
                    <img src="http://www.gpcsw.party/content/images/Icons/@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 2).ImagemRating)" alt="Alternate Text" height="50%" />

                </td>
                <td>
                    @if (item.Guilda.First(x => x.Posicao == 3).Guilda.Id == item.IdGuildaUsuarioLogado)
                    {
                        <b>
                            @Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 3).Guilda.Nome)
                            <span style="font-size:smaller" title="Número de Jogadores">(@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 3).Members))</span>
                        </b>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="anchorDetails" data-id="@item.Guilda.First(x => x.Posicao == 3).Guilda.Id" data-name="Detalhes GVG">
                            @Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 3).Guilda.Nome)
                        </a>


                        <span style="font-size:smaller" title="Número de Jogadores">(@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 3).Members))</span>
                    }
                    <img src="http://www.gpcsw.party/content/images/Icons/@Html.DisplayFor(modelItem => item.Guilda.First(x => x.Posicao == 3).ImagemRating)" alt="Alternate Text" height="50%" />

                </td>
                <td>
                    | @Html.ActionLink("Ataques", "ListarAtaquesConsolidado", new { idSiege = item.Id }) |
                    @Html.ActionLink("Defesas", "ListarDefesasConsolidado", new { idSiege = item.Id }) |
                </td>



            </tr>
        }
    </tbody>
</table>
