@model GPCLib.Models.CapivaraModels

<!--CAPIVARA-->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(pedroca);
      google.charts.setOnLoadCallback(pedroca2);

      $(window).resize(function(){
          pedroca();
          pedroca2();
      });

      function pedroca() {
          
          $.ajax(
          {
              type: 'POST',
              dataType: 'json',
              traditional: true,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: '/AtaquesSemana/ListarAtaquesSemana',
              data: JSON.stringify({ Id: @Model.Player.Id }),
              success: function (response) {
                  
                  drawchart(response); // calling method  
              },

              error: function () {
                  alert("Error loading data! Please try again.");
              }
          });
      }

    function pedroca2() {
          
        $.ajax(
        {
            type: 'POST',
            dataType: 'json',
            traditional: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '/AtaquesSemana/ListarDefesasSemana',
            data: JSON.stringify({ Id: @Model.Player.Id }),
            success: function (response) {
                  
                drawchart2(response); // calling method  
            },

            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    }

      function drawchart(dataValues) {
          // Callback that creates and populates a data table,  
          // instantiates the pie chart, passes in the data and  
          // draws it.  
          

          var data = new google.visualization.DataTable();
          
          data.addColumn('number', 'Semanas');
          data.addColumn('number', 'Vitórias');
          data.addColumn('number', 'Empates');
          data.addColumn('number', 'Derrotas');


          for (var i = 0; i < dataValues.length; i++) {
              data.addRow([dataValues[i].Semana, dataValues[i].Vitorias, dataValues[i].Empates, dataValues[i].Derrotas]);
          }

          // Instantiate and draw our chart, passing in some options  

          

          var options = {
              chart: {
                title: 'Ataques',

              }
            };
          
          var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
          chart.draw(data, google.charts.Bar.convertOptions(options));
      }

      function drawchart2(dataValues) {
          // Callback that creates and populates a data table,  
          // instantiates the pie chart, passes in the data and  
          // draws it.  
          

          var data = new google.visualization.DataTable();
          
          data.addColumn('number', 'Semanas');
          data.addColumn('number', 'Vitórias');
          data.addColumn('number', 'Empates');
          data.addColumn('number', 'Derrotas');


          for (var i = 0; i < dataValues.length; i++) {
              data.addRow([dataValues[i].Semana, dataValues[i].Vitorias, dataValues[i].Empates, dataValues[i].Derrotas]);
          }

          // Instantiate and draw our chart, passing in some options  

          

          var options = {
              chart: {
                  title: 'Defesas',

              }
          };
          
          var chart = new google.charts.Bar(document.getElementById('columnchart_material2'));
          chart.draw(data, google.charts.Bar.convertOptions(options));
      }


    </script>

<script>
    $(document).ready(function () {
        $('#tabelaPedro').DataTable(
            {
                "paging": true,
                "searching": false,
                "lengthChange": false,
                "language": {
                    search: "Pesquisar:",
                    "lengthMenu": "Exibindo _MENU_ linhas por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoFiltered": "(selecionado _MAX_ registros)",
                    paginate: {
                        first: "Primeira",
                        previous: "Anterior",
                        next: "Próxima",
                        last: "Última"
                    }
                },
                "pageLength": 7,



            }

            );

        $('#tblAtaqueSemana').DataTable(
            {
                "paging": true,
                "searching": false,
                "lengthChange": false,
                "language": {
                    search: "Pesquisar:",
                    "lengthMenu": "Exibindo _MENU_ linhas por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoFiltered": "(selecionado _MAX_ registros)",
                    paginate: {
                        first: "Primeira",
                        previous: "Anterior",
                        next: "Próxima",
                        last: "Última"
                    }
                },
                "pageLength": 7,



            }

            );

    });

    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $("#txtDataInicio").inputmask("99/99/9999");
        $("#txtDataFim").inputmask("99/99/9999");


    });
</script>
<table>
    <tr>
        <td><img src="~/Resources/capivara.png" width="60" height="60" alt="Capivara" /></td>
        <td><h1 style="display:inline">&nbsp;Capivara</h1></td>

    </tr>

</table>

<p></p>
<p></p>
<div class="jumbotron">
    @using (Html.BeginForm("Index", "Capivara", FormMethod.Post))
    {
        <div>
            <h2>Player</h2>

            @Html.Action("ComboPlayers", "Player")
            <input type="submit" value="Filtrar Player" class="btn btn-primary btn-sm" />
        </div>
    }
</div>
<p></p>

<div class="container">
    <div class="row">
        <div class="col-md-2">

            <div style="position:relative;top:10px;left:10px;width:200px;height:250px">
                <div style="width:150px;">
                    <h3>
                        @Html.DisplayFor(m => m.Player.Nome)
                    </h3>
                </div>
                <p></p>
                <div style="width:150px;height:150px;">
                    <img src="~/Resources/@Html.DisplayFor(m => m.Imagem)" width="150" height="150" alt="Imagem Player" />
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <div style="position:relative;top:10px">
                <h4>
                    Ataques Semana:
                </h4>
            </div>
            <p></p>
            <table class="table" id="tblAtaqueSemana">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Guilda
                        </th>
                        <th>
                            Vitoria
                        </th>
                        <th>
                            Empate
                        </th>
                        <th>
                            Derrota
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AtaquesConsolidado)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Data)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Guilda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vitoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Empate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Derrota)
                            </td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="col-md-5">
            <div>
                <!--DIV Ataques-->
                <div style="width:130px; float: left">

                    <div style="float: left">
                        <h4>
                            %Ataques
                        </h4>
                    </div>
                    <div style="float: left;margin-left:5px">
                        <img src="~/Resources/ataque.png" width="25" height="25" alt="Ataques" />
                    </div>

                    <div style="text-align:center">
                        <h1>
                            @Html.DisplayFor(m => m.PercentualVitoria)%
                        </h1>
                    </div>
                    <div style="text-align:center">
                        <div><h6>|V|E|D|</h6></div>
                        <div>
                            <h5>
                                @Html.DisplayFor(m => m.Vitorias)|@Html.DisplayFor(m => m.Empates)|@Html.DisplayFor(m => m.Derrotas)
                            </h5>
                        </div>
                    </div>
                </div>
                <!--DIV Defesas-->
                <div style="width:130px; float: left;margin-left:30px">
                    <div style="float: left">
                        <h4>
                            %Defesas
                        </h4>
                    </div>
                    <div style="float: left;margin-left:5px">
                        <img src="~/Resources/defesa.png" width="25" height="25" alt="Defesas" />
                    </div>

                    <div style="text-align:center">
                        <h1>
                            @Html.DisplayFor(m => m.PercentualDefesa)%
                        </h1>
                    </div>
                    <div style="text-align:center">
                        <div><h6>|V|E|D|</h6></div>
                        <div>
                            <h5>
                                @Html.DisplayFor(m => m.DefesaVitorias)|@Html.DisplayFor(m => m.DefesaEmpates)|@Html.DisplayFor(m => m.DefesaDerrotas)
                            </h5>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
    <div class="row">

        <div class="col-md-2">

        </div>

        <div class="col-md-5">
            <div style="position:relative;top:10px">
                <h4>
                    Defesas Semana:
                </h4>
            </div>
            <p></p>
            <table class="table" id="tabelaPedro">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Vitoria
                        </th>
                        <th>
                            Empate
                        </th>
                        <th>
                            Derrota
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DefesasConsolidado)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Data)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeGuild)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vitoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Derrota)
                        </td>

                    </tr>
                    }
                </tbody>

            </table>
        </div>

        <div class="col-md-5">
            <div style="width:150px;float: left;">
                <div style="float: left">
                    <h4>
                        %Participação
                    </h4>
                </div>
                <div style="float: left;margin-left:5px">
                    <img src="~/Resources/participacao.png" width="25" height="25" alt="Participação" />
                </div>

                <div style="text-align:center">
                    <h1>
                        @Html.DisplayFor(m => m.PercentualParticipacao)%
                    </h1>
                </div>

                <div style="text-align:center">
                    <div><h6>Escalado|NAtacou</h6></div>
                    <div>
                        <h5>
                            @Html.DisplayFor(m => m.Escalado) |@Html.DisplayFor(m => m.NAtacou)
                        </h5>
                    </div>
                </div>


            </div>

            <div style="float: left;margin-left:30px">
                <div>
                    <h3>
                        @Html.DisplayFor(m => m.StreakVitoria) vitórias consecutivas!
                    </h3>
                </div>
                <div>
                    <h5>
                        entre @Html.DisplayFor(m => m.InicioStreak) a @Html.DisplayFor(m => m.FimStreak)
                    </h5>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="clearfix" ></div>
        <div class="col-md-12">
            <div id="columnchart_material" style="width: 100%;min-height: 450px"></div>
        </div>

    </div>

    <div class="row">
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div id="columnchart_material2" style="width: 100%;min-height: 450px"></div>
        </div>

    </div>

</div>
