@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

@{
    var menus = new[]
                {
                   //Usuario Logado
                   new { LinkText="Resultado Geral", ActionName="ListarSieges",ControllerName="Siege",Roles="All"  },
                   new { LinkText="Lista Ataques", ActionName="ListarAtaquesGeral",ControllerName="Siege",Roles="All"  },
                   new { LinkText="Lista Defesas", ActionName="ListarDefesasGeral",ControllerName="Siege",Roles="All"  },
                   new { LinkText="Melhores Defesas", ActionName="ListarVitoriasTimes",ControllerName="Siege",Roles="All"  },
                   new { LinkText="Resultado Geral", ActionName="ListaBatalhas",ControllerName="Relatorios",Roles="All"  },
                   new { LinkText="Ataques Semana", ActionName="index",ControllerName="PainelControle",Roles="All"  },
                   new { LinkText="Defesas Semana", ActionName="index",ControllerName="DefesasSemana",Roles="All"  },
                   new { LinkText="Defesa Consolidado", ActionName="ListarDefesasGVGConsolidado",ControllerName="Relatorios",Roles="All"  },
                   new { LinkText="Capivara", ActionName="index/0",ControllerName="Capivara",Roles="All"  },
                   new { LinkText="Download", ActionName="Download",ControllerName="Home",Roles="All"  },
                   new { LinkText="Sobre", ActionName="About",ControllerName="Home",Roles="All"  },

                   //Admin
                   new { LinkText="Player x Guilda", ActionName="index",ControllerName="Guilda",Roles="Admin"  },
                   new { LinkText="Usuário x Player", ActionName="UsuarioPlayer",ControllerName="Guilda",Roles="Admin"  },

                   //Não Logado
                   new { LinkText="Download", ActionName="Download",ControllerName="Home",Roles="Anonymous"  },
                   new { LinkText="Sobre", ActionName="About",ControllerName="Home",Roles="Anonymous"  },
                   new { LinkText="Contato", ActionName="Contact",ControllerName="Home",Roles="Anonymous"  },

                };
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href='@Url.Action("Index", "Home")'>
                <img src="~/Resources/logo.png" class="img-center" height="50" width="50" />
            </a>
            
        </div>
        
        <div class="navbar-collapse collapse">
            <ul id="menu" class="nav navbar-nav">

                @if (Request.IsAuthenticated)
                {
                    var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                    var userRoles = userManager.GetRoles(User.Identity.GetUserId());
                
                    //Pega todos os Menus com da Siege
                    var linksSiege = menus.Where(x => x.Roles == "All" && x.ControllerName == "Siege").ToList();
                    @:<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Siege</a><ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                    foreach (var link in linksSiege)
                    {
                        @:
                        <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
                    }

                    @:</ul></li> 

                    //Todos os Menus da GVG
                    var linksGVG = menus.Where(x => x.Roles == "All" && x.ControllerName == "Relatorios" || x.ControllerName == "PainelControle" || x.ControllerName == "DefesasSemana").ToList();
                    @:<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">GVG</a><ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                    foreach (var linkgvg in linksGVG)
                    {
                        @:
                        <li> @Html.ActionLink(linkgvg.LinkText, linkgvg.ActionName, linkgvg.ControllerName)</li>
                    }

                    @:</ul></li>


                    //Todos que Não são SIEGE, GVG e Re
                    var links = menus.Where(x => x.Roles == "All" && x.ControllerName != "Siege" && x.ControllerName != "Relatorios" && x.ControllerName != "PainelControle" && x.ControllerName != "DefesasSemana").ToList();

                    foreach (var link in links)
                    {
                        @:
                        <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
                    }

                    var links2 = from item in menus
                                 where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                                 .Any(x => x == "Admin")
                                 select item;

                    if (userRoles.Contains("Admin"))
                    {
                        @:<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a><ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        
                        foreach (var link in links2)
                        {
                            @:
                            <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
                        }

                        @:</ul></li>
                    }



                }
                else
                {
                    var links = from item in menus
                                where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                                .Any(x => new String[] { "Anonymous" }.Contains(x))
                                select item;
                    foreach (var link in links)
                    {
                        @:
                        <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>