@model IEnumerable<GPCLib.Models.AtaquesSemana>

@{
    ViewBag.Title = "Ataques da Semana GVG";
    ViewBag.MetaDescription = "Exibe lista de todos os ataques realizados pelos integrantes da guilda nas GVGs.";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Semana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vitorias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Derrotas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Semana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vitorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Derrotas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
