@model IEnumerable<GPCLib.Models.BatalhaModels>

@{
    ViewBag.Title = "Lista de GVGs";
    ViewBag.MetaDescription = "Lista de todas as GVGs que foram carregadas no site. Contém informações de Data, Pontuação, Rank, Resultado, as defesas do inimigo (Torres), etc. ";
}

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

@{
    ViewBag.Title = "Lista Batalhas";
}

@if (Model.Count() > 0)
{
    <h2>Lista de GVGs - @Html.DisplayFor(model => model.First().GuildaAtacante.Nome) </h2>
}
else
{
    <h2>Lista de GVGs</h2>
}


<script>
    $(document).ready(function () {
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "extract-date-pre": function (value) {
                var date = $(value, 'span')[0].innerHTML;
                date = date.split('/');
                return Date.parse(date[1] + '/' + date[0] + '/' + date[2])
            },
            "extract-date-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
            "extract-date-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
        $('#tblListaBatalhas').DataTable(
            {
                "paging": true,
                "searching": false,
                "lengthChange": false,
                "language": {
                    search: "Pesquisar:",
                    "lengthMenu": "Exibindo _MENU_ linhas por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Exibindo página _PAGE_ de _PAGES_",
                    "infoFiltered": "(selecionado _MAX_ registros)",
                    paginate: {
                        first: "Primeira",
                        previous: "Anterior",
                        next: "Próxima",
                        last: "Última"
                    }
                },
                "pageLength": 20,
                "order": [[2, "desc"]],
                columnDefs: [{
                    type: 'extract-date',
                    targets: [2]
                }

                ]


            }

            );

        //inicio
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                title: "Detalhe Guilda",
                closeText: "",
                buttons: {
                    Fechar: function () {
                        $(this).dialog('close');
                    }
                }
            });
            $("#tblListaBatalhas").on("click", ".anchorDetails", function(e){

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@(Url.Action("ObterResumo", "Relatorios"))",
                    contentType: "application/JSON;charset=utf-8",
                data: { "id": id },
                dataType: "json",
                success: function (r) {
                    $("#dialog").html
                        (

                                '<b>' + r.Guilda.Nome + '</b><BR>' +
                                 'GVGs <span style="font-size:smaller">(ataques)</span>: | ' + r.QtdGVGs + ' | ' +
                                           r.VitoriaGvg + 'V | ' +
                                           r.DerrotaGVG + 'D | <br>' +
                                 'Siege: | ' + r.Siege +  ' | ' + r.SiegePosicao1 +  '-1º | ' + r.SiegePosicao2 + '-2º | ' + r.SiegePosicao3 + '-3º |'
                        );
                    $("#dialog").dialog("open");
                }
            });
        });
    });

    //fim

    });


</script>
<style>
    .no-close .ui-dialog-titlebar-close {
        display: none;
    }

    div#pop-up {
        display: none;
        position: absolute;
        width: 280px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
    }
</style>
<div id="dialog" style="display: none" title="Detalhes Guilda"></div>

<table class="table" id="tblListaBatalhas">
    <thead>
        <tr>
            <th>
                Guilda
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Life)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th style="text-align:center">
                Pontuação Oponente
            </th>
            <th style="text-align:center">
                Pontuação Guild
            </th>
            <th style="text-align:center">
                Rank Guild
            </th>
            <th style="text-align:center">
                Resultado
            </th>
            <th>Qtd. GVgs</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="javascript:void(0)" class="anchorDetails" data-id="@item.IdGuildaOponente" data-name="Detalhes GVG">
                        @Html.DisplayFor(modelItem => item.GuildaOponente)
                    </a>

                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Life)
                </td>
                <td style="text-align:center">
                    <span id="@Html.DisplayFor(modelItem => item.Data)">
                        @Html.DisplayFor(modelItem => item.Data)
                    </span>
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.PontuacaoOponente)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.PontuacaoGuild)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.RankGuild)
                </td>
                <td style="text-align:center">
                    @if (item.Vitoria)
                    {
                        @:V
                    }
                    else
                    {
                        @:D
                    }
                </td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => item.QuantidadeAtaques)</td>
                <td>
                    @Html.ActionLink("Lutas", "ResultadoGeral", new { id = item.Id })
                </td>
                <td>@Html.ActionLink("Torres", "ListaDefesasGVG", new { id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>
<h6 style="text-align:right">
    <p>Exibindo somente as últimas 100 GVGs. Clique @Html.ActionLink("aqui", "ListaBatalhasTodas") para listar todas.</p>
</h6>

